{{>header}} <br>
{{>navbar}} <br>
<section class="container my-5">
    <h3 class="text-primary">Add New Task</h3>
    <form action="" method="POST">
    <div class="mb-3 " >
        <input type="text" name="title" placeholder="enter title" class="form-control">
    </div>
    <div class="mb-3">
        <input type="text" name="content" placeholder="enter content" class="form-control">
    </div>
    <div class="mb-3">
        <input type="date" name="date" placeholder="enter date" class="form-control">
    </div>
    <div class="mb-3">
        <input type="submit" value="Add Task" placeholder="Add" class="btn btn-success">
    </div>
</form>
</section>

{{>footer}} <br>