{{>header}} <br>
{{>navbar}} <br>
<section class="container my-5">
    <h3 class="text-primary">Add New User</h3>
    <form action="" method="POST">
    <div class="mb-3 " >
        <input type="text" name="name" placeholder="enter name" class="form-control">
    </div>
    <div class="mb-3">
        <input type="text" name="age" placeholder="enter age" class="form-control">
    </div>
    <div class="mb-3">
        <input type="text" name="balance" placeholder="enter balance" class="form-control">
    </div>
    <div class="mb-3">
        <input type="submit" name="add" placeholder="enter name" class="btn btn-success">
    </div>
</form>
</section>

{{>footer}} <br>